body{background:#fff;}
#target{
    padding:0;margin:0;width: 100%;height: auto;
}
canvas {padding:0;margin:0;max-width:100% !important;}
#controls {

}
#controls:after {
    content: ' ';
    clear: both;
    display: table;
}
section {
    margin: 5px;
    background: #ccc;
    padding: 3px 0;
}
section:after {
    content: ' ';
    clear: both;
    display: table;
}
.image {
    float: left;
    margin: 10px;
    border: solid 1px;
}
.image h3 {
    text-align: center;
    margin: 0;
    background: #ababad;
    padding: 5px 0;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    font-size: 15px;
}
.image .row {
    
}
.image .row div {
    width: 10px;
    height: 10px;
    float: left;
    box-shadow: inset 1px 1px #ececec8c;
}
.image .on {
    background: #000;
}
.image .off {
    background: #fff;
}