body{background:#fff;}#target{position:absolute;left:0px;top:0px;padding:0;margin:0;width: 100%;height: auto;}canvas {padding:0;margin:0;max-width:100% !important;}
.image {
    float: left;
    margin: 10px;
    border: solid 1px;
}
.image .row {
    
}
.image .row div {
    width: 10px;
    height: 10px;
    float: left;
}
.image .on {
    background: #000;
}
.image .off {
    background: #fff;
}